<p>Welcome to Elder & Ink! I'm so excited that you are here.</p>
<p>My site is all about bringing color, texture and variety to the home. I am always looking for new things to reclaim, upcycle, or make from scratch. Check out the links on the top or use search to find some of my projects.</p>