/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

@import "bourbon";
@import "grid-settings";
@import "neat";

/*All other stylesheets must be imported after this one */

*, p {
    font-family: 'PT Serif', Georgia, serif;
    font-weight: 300;
}

section {
    @include outer-container;
	article {
		@include span-columns(9 of 12);
		@include media($mobile) {
		  @include span-columns(4);
		}
	}
	aside {
		@include span-columns(3 of 12);
		@include omega();
		@include media($mobile) {
		  @include span-columns(4);
		}
	}
}


$mobile: new-breakpoint(max-width 480px 4);

.element {
  @include media($mobile) {
    @include span-columns(4);
  }
}


.blue_button {
    @include button(simple, #0B7ABF);
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
}


/* Banner & Aside styling */

.banner {
	text-align: center;
	border-bottom: 1px dotted;
	border-color: grey;
	margin-bottom: 2em;
	.category-list .category-list-item {
		display: inline-block;
		padding: 0 1em 0 1em;

	}
}

#banner-logo a {
	text-decoration: none;
	background: none;
}

#hello {
	font-family: 'Shadows Into Light';
	font-size: 1.2em;
}

/* Category styling */

.post-block-thumb {
	@include span-columns(2 of 8);
	display: inline-block;
	margin: 1em;
	.post-title {
		text-align: center;
	}
	.post-image {
		
	}
}

/* Page styling */

#post-navigation {
	margin: 1em 0 1em 0;
	min-width: 100%;
	@include outer-container;
	.nav-block {
		display: inline-block;
		@include span-columns(3);
	}
	.left {
		@include span-columns(4);
	}
	.right {
		float: right;
		text-align: right;
	}
	.center {
		text-align: center;
	}
}