/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

@import "bourbon";
@import "neat";

/*All other stylesheets must be imported after this one */

*, p {
    font-family: 'PT Serif', Georgia, serif;
    font-weight: 300;
}

div.container, div.banner {
    @include outer-container;
}

.blue_button {
    @include button(simple, #0B7ABF);
}

.primary-content {
	@include span-columns(8 of 12);
}

aside {
	@include span-columns(3 of 12);
	float: right;
}

/* Banner styling */

.banner > ul {
	list-style-type: none;
	li {
		display: inline-block;
	}
}

